.header{
    display: flex;
    border-bottom: 20px;
    background-color: #1F2937;
}
.hero {
    font-family: Roboto;
    src: url("/fonts/Roboto-Bold.woff2") format(woff2),
         url(/fonts/Roboto-Italic.woff2) format(woff2),
         url(/fonts/Roboto-Regular.woff2) format(woff2);
        
    font-weight: normal;
    font-style: normal;
    display:flex;
    color: #F9FAF8;
}